{% extends 'products/base.html' %}

{% load crispy_forms_tags %}
{% block content %}

<section class="page-section" id="signup">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0 pt-3">Création de compte</h2>
                <hr class="divider my-4" />
                <h5 class="mt-0 pt-3">Qui êtes-vous</h5>
                <br/>
                <p class="text-light mb-2 pt-3">
                    Ce formulaire a pour but de vous identifier en créant un compte sur notre site. Merci de bien vouloir renseigner les champs ci-dessous.
                </p>
                {% comment %} <form action="" method="POST" class="ml-auto my-2 my-lg-0 pt-3 pb-5">
                    {% csrf_token %}
                    <div class="input-group pb-5">
                        <input type="text" name="" class="form-control form-control-lg bg-light" placeholder="Prénom...">
                        <input type="text" name="" class="form-control form-control-lg bg-light" placeholder="Nom...">
                    </div>
                    <div class="input-group pb-5">
                        <input type="text" name="" class="form-control form-control-lg bg-light" placeholder="Username...">
                        <input type="email" name="" class="form-control form-control-lg bg-light" placeholder="E-mail...">
                    </div>
                    <div class="input-group pb-5">
                        <input type="password" name="" class="form-control form-control-lg bg-light" placeholder="Password...">
                        <input type="password" name="" class="form-control form-control-lg bg-light" placeholder="Confirm Password...">
                    </div>
                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                </form> {% endcomment %}
                
                <form method="POST" class="ml-auto my-2 my-lg-0">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Valider</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}