{% extends 'products/base.html' %}

{% load static %}

{% block content %}

<section class="page-section" id="signup">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0 pt-3">Création de compte</h2>
                <hr class="divider my-4" />
                <h5 class="mt-0 pt-3">Qui êtes-vous</h5>
                <br/>
                <p class="text-light mb-5 pt-4">
                    Ce formulaire a pour but de vous identifier en créant un compte sur notre site. Merci de bien vouloir renseigner les champs ci-dessous.
                </p>
                <form action="" method="" class="ml-auto my-2 my-lg-0 pt-5 pb-5">
                    <div class="input-group">
                        <input type="text" name="" class="form-control form-control-lg bg-light" placeholder="Nom...">
                        <input type="text" name="" class="form-control form-control-lg bg-light" placeholder="E-mail...">
                        <div class="input-group-append">
                            <button id="send_btn" class="btn btn-primary" type="submit">S'enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}