{% extends 'products/base.html' %}

{% block content %}

<header class="page-section sign" id="account_page">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Hello <i class="font-weight-bold">{{ user.get_short_name }}</i>&nbsp !!!</h2>
                <hr class="divider my-4" />
                <p class="mt-0 pt-3 pb-5 font-weight-lighter font-italic">
                    Merci de vous être authentifié. Retrouvez ci-dessous, les informations concernant votre compte
                </p>

                <div class="row mt-3 pb-5">
                    <div class="col-lg-4 ml-auto text-center">
                        <p>Email</p>
                    </div>
                    <input class="col-lg-4 mr-auto text-center bg-white" value={{ user.email }} disabled></input>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-4 ml-auto text-center">
                        <p>Username</p>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <p>{{ user.get_username }}</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 ml-auto text-center">
                        <p>Prénom - Nom</p>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <p>{{ user.get_full_name }}</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 ml-auto text-center">
                        <p>Créé le</p>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <p>{{ user.date_joined }}</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4 ml-auto text-center">
                        <p>Dernière connexion le</p>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <p>{{ user.last_login }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

{% endblock content %}
