{% if user.is_authenticated %}

<li class="nav-item">
<a class="nav-link js-scroll-trigger" href="#account">
    <form action="" method="" class="ml-auto my-2 my-lg-0">
        <input id='user-form' type="text" name="" class="form-control form-control-sm bg-grey" placeholder="Chercher...">
    </form>
</a>
</li>

<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/users/account">Mon compte</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/users/favorites">Mes aliments</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/logout">Se déconnecter</a></li>

{% else %}

<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/users/signup">S'enregistrer</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/login">Se connecter</a></li>

{% endif %}
